## Definições gerais do trabalho

### Definições relacionadas ao negócio

* **Objetivo principal de negócio**: Prever covid com base em exames laboratoriais, com isso identificar quais são features são mais relavantes para um diagnóstico mais preciso.
* **Objetivos secundários**: Identificar quais são os fatores que estão relacionados aos casos positivos. 

### Sobre o conjunto de dados

O conjunto de dados foi obtido na plataforma disponibilizada pela FAPESP. Sendo que entre todos os dataset disponiveis escolhemos em espesifico os dados COVID Hospital das Clinicas da Faculdade de Medicina da Universidade de Sao Paulo. Referência: https://repositoriodatasharingfapesp.uspdigital.usp.br/handle/item/1

#### Detalhes sobre o processo de extração dos dados


### Objetivos de mineração

Considerando que nossa principal questão de negócio está relacionada sobre a previsão de casos positivos com base em exames laboratoriais pretendemos utilizar a associação para obter uma melhor visualização relacionada as features para posteriormente aplicar uma árvore de decisão.

### Exploração preliminar dos dados

In [2]:
# importando bibliotecas
import pandas as pd
from csv import reader
from random import seed
from random import randrange
from math import sqrt
import numpy as np
import matplotlib.pyplot as plt

In [6]:
# Realizando uma leitura simples do arquivo pacientes
pacientes = pd.read_csv('HC_PACIENTES_1.csv', sep='|')

# Apresentaodno cinco primeiras linhas do conjunto de dados original
pacientes.head()

,ID_PACIENTE,IC_SEXO,AA_NASCIMENTO,CD_PAIS,CD_UF,CD_MUNICIPIO,CD_CEPREDUZIDO
0,9698838a8fa8a01ffd5ed5c71e8e17a3,F,1962,BR,SP,SAO PAULO,CCCC
1,d9fec23b3820f93a961841d569db8cb5,F,1974,BR,SP,MMMM,CCCC
2,ee507ba3a9959fdf31bca52852fd5715,F,1962,BR,SP,MMMM,CCCC
3,51590e8c53f4e8e332c05d7e6cee35c7,F,1960,BR,SP,SAO PAULO,CCCC
4,13699f0f7714fdaba277c5e360c6869c,M,1967,BR,SP,MMMM,CCCC

In [20]:
# Realizando uma leitura simples do arquivo exames
exames = pd.read_csv('HC_EXAMES_1.csv', sep='|')

# Apresentaodno cinco primeiras linhas do conjunto de dados original
exames.head()

,ID_PACIENTE,ID_aTENDIMENTO,DT_COLETA,DE_ORIGEM,DE_EXAME,DE_ANALITO,DE_RESULTADO,CD_UNIDADE,DE_VALOR_REFERENCIA
0,004056afeb7b5441855846349123f686,0ae989c74676b6b5b8bf1a5f57be45f7,2020-05-17,HOSP,CULTURA AERÓBIA,CULTURA AERÓBIA,Negativa,NaN,Negativa
1,004056afeb7b5441855846349123f686,0ae989c74676b6b5b8bf1a5f57be45f7,2020-05-17,HOSP,URÉIA,URÉIA,10,mg/dL,10 a 50 mg/dL
2,004056afeb7b5441855846349123f686,0ae989c74676b6b5b8bf1a5f57be45f7,2020-05-17,HOSP,URINA TIPO 1,pH :,7.0,NaN,5.0 a 6.0
3,004056afeb7b5441855846349123f686,0ae989c74676b6b5b8bf1a5f57be45f7,2020-05-17,HOSP,URINA TIPO 1,Urobilinogenio :,0.2,mg/dL,0.2 a 1.0 mg/dL
4,004056afeb7b5441855846349123f686,0ae989c74676b6b5b8bf1a5f57be45f7,2020-05-17,HOSP,URINA TIPO 1,Sangue :,Tracos,NaN,Ausente

In [25]:
# realizando uma analise sobre os registros relacionados aos pacientes

pacientes.describe()

,ID_PACIENTE,IC_SEXO,AA_NASCIMENTO,CD_PAIS,CD_UF,CD_MUNICIPIO,CD_CEPREDUZIDO
count,3751,3751,3751,3751,3751,3751,3751
unique,3751,2,74,1,2,6,1
top,e9f4377dfacaf8f94320e86e0afd746d,M,1958,BR,SP,SAO PAULO,CCCC
freq,1,2022,104,3751,3650,2136,3751